// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2022 Rockchip Electronics Co., Ltd.
 */

/dts-v1/;

#include "rv1103.dtsi"
#include "rv1106-evb.dtsi"
#include "rv1103-luckfox-pico-ipc.dtsi"

/ {
	model = "Luckfox Pico";
	compatible = "rockchip,rv1103g-38x38-ipc-v10", "rockchip,rv1103";


	gpio4pa2:gpio4pa2 {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&gpio4_pa2>;
		regulator-name = "gpio4_pa2";
		regulator-always-on;
	};

	gpio4pa3:gpio4pa3 {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&gpio4_pa3>;
		regulator-name = "gpio4_pa3";
		regulator-always-on;
	};

	gpio4pa4:gpio4pa4 {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&gpio4_pa4>;
		regulator-name = "gpio4_pa4";
		regulator-always-on;
	};



	gpio4pa6:gpio4pa6 {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&gpio4_pa6>;
		regulator-name = "gpio4_pa6";
		regulator-always-on;
	};

	gpio4pb0:gpio4pb0 {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&gpio4_pb0>;
		regulator-name = "gpio4_pb0";
		regulator-always-on;
	};

	gpio4pb1:gpio4pb1 {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&gpio4_pb1>;
		regulator-name = "gpio4_pb1";
		regulator-always-on;
	};
};
/**********GPIO**********/
&pinctrl {
	gpio4-pa2 {
		gpio4_pa2:gpio4-pa2 {
			rockchip,pins =	<4 RK_PA2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	gpio4-pa3 {
		gpio4_pa3:gpio4-pa3 {
			rockchip,pins =	<4 RK_PA3 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	gpio4-pa4 {
		gpio4_pa4:gpio4-pa4 {
			rockchip,pins =	<4 RK_PA4 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	gpio4-pa6 {
		gpio4_pa6:gpio4-pa6 {
			rockchip,pins =	<4 RK_PA6 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	gpio4-pb0 {
		gpio4_pb0:gpio4-pb0 {
			rockchip,pins =	<4 RK_PB0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	gpio4-pb1 {
		gpio4_pb1:gpio4-pb1 {
			rockchip,pins =	<4 RK_PB1 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

};






/**********ETH**********/
&gmac {
	status = "disabled";
};

/**********USB**********/
// &usbdrd {
// 	status = "disabled";
// };

// &usbdrd_dwc3 {
// 	status = "disabled";
// };

// &u2phy {
// 	status = "disabled";
// };

// &u2phy_otg {
// 	status = "disabled";
// };

/**********I2C**********/
// &i2c0 {
// 	status = "okay";
// 	pinctrl-0 = <&i2c0m2_xfer>;
// 	clock-frequency = <100000>;
// };
&i2c3 {
	status = "okay";
	pinctrl-0 = <&i2c3m1_xfer>;
	clock-frequency = <100000>;
};

// /**********SPI**********/
&spi0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&spi0m0_pins>;
	cs-gpios = <&gpio1 RK_PC0 1>;
	// cs-gpios = <&gpio1 26 1>;
	#address-cells = <1>;
	#size-cells = <0>;
	spidev@0 {
		compatible = "rockchip,spidev";
		spi-max-frequency = <1000000000>;
		reg = <0>;
	};
};

// /**********UART**********/
&uart3 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart3m1_xfer>;
};
&uart4 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart4m1_xfer>;
};
// &uart5 {
// 	status = "okay";
// 	pinctrl-names = "default";
// 	pinctrl-0 = <&uart5m0_xfer>;
// };

/**********PWM**********/

&pwm0 {
	status = "okay";
	pinctrl-names = "active";
	pinctrl-0 = <&pwm0m0_pins>;
	// pinctrl-0 = <&pwm0m1_pins>;
};
&pwm1 {
	status = "okay";
	pinctrl-names = "active";
	pinctrl-0 = <&pwm1m0_pins>;
	// pinctrl-0 = <&pwm1m1_pins>;
};

// &pwm2 {
// 	status = "okay";
// 	pinctrl-names = "active";
// 	pinctrl-0 = <&pwm2m2_pins>;
// };
// &pwm3 {
// 	status = "okay";
// 	pinctrl-names = "active";
// 	pinctrl-0 = <&pwm3m2_pins>;
// };
// &pwm4 {
// 	status = "okay";
// 	pinctrl-names = "active";
// 	pinctrl-0 = <&pwm4m2_pins>;
// };
// &pwm5 {
// 	status = "okay";
// 	pinctrl-names = "active";
// 	pinctrl-0 = <&pwm5m2_pins>;
// };
// &pwm6 {
// 	status = "okay";
// 	pinctrl-names = "active";
// 	pinctrl-0 = <&pwm6m2_pins>;
// };
// &pwm7 {
// 	status = "okay";
// 	pinctrl-names = "active";
// 	pinctrl-0 = <&pwm7m2_pins>;
// };
// &pwm8 {
// 	status = "okay";
// 	pinctrl-names = "active";
// 	// pinctrl-0 = <&pwm8m1_pins>;
// 	pinctrl-0 = <&pwm8m0_pins>;
// };
// &pwm9 {
// 	status = "okay";
// 	pinctrl-names = "active";
// 	// pinctrl-0 = <&pwm9m1_pins>;
// 	pinctrl-0 = <&pwm9m0_pins>;
// };

&pwm10 {
	status = "okay";
	pinctrl-names = "active";
	pinctrl-0 = <&pwm10m1_pins>;
	// pinctrl-0 = <&pwm10m2_pins>;
	// pinctrl-0 = <&pwm10m0_pins>;
};
&pwm11 {
	status = "okay";
	pinctrl-names = "active";
	pinctrl-0 = <&pwm11m1_pins>;
	// pinctrl-0 = <&pwm11m2_pins>;
	// pinctrl-0 = <&pwm11m0_pins>;
};




