menu "Hardware crypto devices"

config DM_CRYPTO
	bool "Enable Driver Model for CRYPTO drivers (UCLASS_CRYPTO)"
	depends on DM
	---help---
	This config enables the dm crypto support.

config SPL_DM_CRYPTO
	bool "Enable Driver Model for CRYPTO drivers in spl"
	depends on SPL_DM
	---help---
	This config enables the dm crypto support.

source drivers/crypto/fsl/Kconfig
source drivers/crypto/rockchip/Kconfig

endmenu
