if TARGET_MK808_RK3066

config SYS_BOARD
	default "mk808_rk3066"

config SYS_VENDOR
	default "rikomagic"

config SYS_CONFIG_NAME
	default "mk808_rk3066"

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y

endif
