# *.o
.vscode
.BoardConfig.mk
RK-RELEASE-NOTES-V1.4.1.txt
IMAGE/
output/
project/app/wifi_app/wpa_supplicant.conf
config/
sysdrv/tools/board/memtester/memtester-4.6.0/
sysdrv/tools/board/dosfstools/dosfstools-4.2/
