menu "DDR Tool"

config CMD_DDR_TOOL
	bool "Enable DDR Tool"
	help
	  This enable ddr tool such as ddr dq eye, ddr test tool, memtester and stressapptest.

config CMD_DDR_DQ_EYE
	bool "Enable DDR DQ eye fuction"
	depends on CMD_DDR_TOOL
	help
	  This enable ddr dq eye fuction.

config CMD_DDR_TEST
	bool "Enable ddr test tool"
	depends on CMD_DDR_TOOL
	help
	  This enable ddr test tool code.

config CMD_MEMTESTER
	bool "Enable memtester for ddr"
	depends on CMD_DDR_TOOL
	help
	  This enables memtester for ddr.

config CMD_STRESSAPPTEST
	bool "Enable stressapptest for ddr"
	depends on CMD_DDR_TOOL
	help
	  This enables stressapptest for ddr.

endmenu
