if ROCKCHIP_RK3562

config TARGET_EVB_RK3562
	bool "EVB_RK3562"
	select BOARD_LATE_INIT
	help
	  RK3562 EVB is a evaluation board for Rockchp RK3562.

config SYS_SOC
	default "rockchip"

config SYS_MALLOC_F_LEN
	default 0x400

source board/rockchip/evb_rk3562/Kconfig

endif
