# CONFIG_CMD_ATAGS is not set
# CONFIG_CMD_DHCP is not set
# CONFIG_CMD_MMC is not set
# CONFIG_CMD_NET is not set
# CONFIG_CMD_PING is not set
# CONFIG_DM_ETH is not set
# CONFIG_DM_MMC is not set
# CONFIG_FIT is not set
# CONFIG_LED is not set
# CONFIG_MMC is not set
# CONFIG_NET is not set
# CONFIG_PHYLIB is not set
# CONFIG_REGEX is not set
# CONFIG_RKNANDC_NAND is not set
