CONFIG_BASE_DEFCONFIG="rk3399_defconfig"
CONFIG_CMD_BOOT_FIT=y
CONFIG_FIT_HW_CRYPTO=y
CONFIG_FIT_IMAGE_POST_PROCESS=y
CONFIG_ROCKCHIP_FIT_IMAGE_PACK=y
CONFIG_ROCKCHIP_FIT_IMAGE=y
CONFIG_RSA_C_SIZE=0x100
CONFIG_RSA_E_SIZE=0x100
CONFIG_RSA_N_SIZE=0x100
CONFIG_RSA_SOFTWARE_EXP=y
CONFIG_RSA=y
CONFIG_SHA512=y
CONFIG_SPL_BOARD_INIT=y
CONFIG_SPL_DM_CRYPTO=y
CONFIG_SPL_DM_RESET=y
CONFIG_SPL_FIT_GENERATOR="arch/arm/mach-rockchip/make_fit_atf.sh"
CONFIG_SPL_FIT_HW_CRYPTO=y
CONFIG_SPL_FIT_IMAGE_POST_PROCESS=y
CONFIG_SPL_GZIP=y
CONFIG_SPL_LIBDISK_SUPPORT=y
# CONFIG_SPL_MISC_DECOMPRESS is not set
CONFIG_SPL_MISC=y
CONFIG_SPL_RESET_ROCKCHIP=y
# CONFIG_SPL_ROCKCHIP_CIPHER is not set
CONFIG_SPL_ROCKCHIP_CRYPTO_V1=y
# CONFIG_SPL_ROCKCHIP_CRYPTO_V2 is not set
# CONFIG_SPL_ROCKCHIP_HMAC is not set
CONFIG_SPL_ROCKCHIP_RSA=y
# CONFIG_SPL_ROCKCHIP_SECURE_OTP is not set
CONFIG_SPL_RSA=y
CONFIG_SPL_STACK_R_MALLOC_SIMPLE_LEN=0x80000
CONFIG_SPL_ZLIB=y
CONFIG_SYS_MALLOC_F_LEN=0x80000
# CONFIG_SYS_MMCSD_RAW_MODE_U_BOOT_USE_PARTITION is not set
