CONFIG_BASE_DEFCONFIG="rk3568_defconfig"
# CONFIG_LED_BLINK is not set
CONFIG_LED_GPIO=y
CONFIG_LED=y
CONFIG_LOADER_INI="RK3566MINIALL_ULTRA.ini"
CONFIG_ROCKCHIP_EBC_TCON=y
CONFIG_ROCKCHIP_EINK_DISPLAY=y
CONFIG_ROCKCHIP_EINK=y
CONFIG_ROCKCHIP_TPS65185=y
CONFIG_TRUST_INI="RK3566TRUST_ULTRA.ini"
CONFIG_OPTEE_ALWAYS_USE_SECURITY_PARTITION=y
CONFIG_GPIO_KEY=y
