CONFIG_BASE_DEFCONFIG="rk3576_defconfig"
CONFIG_LOADER_INI="RK3576MINIALL_ULTRA.ini"
CONFIG_ROCKCHIP_EBC_TCON=y
CONFIG_ROCKCHIP_EINK_DISPLAY=y
CONFIG_ROCKCHIP_EINK=y
CONFIG_PMIC_SY7636A=y
CONFIG_REGULATOR_SY7636A=y
CONFIG_DM_THERMAL=y
CONFIG_SY7636A_THERMAL=y
CONFIG_ROCKCHIP_TPS65185=y
CONFIG_ROCKCHIP_EBC_PMIC_SY7636A=y
