# CONFIG_CI_UDC is not set
CONFIG_CMD_DFU=y
CONFIG_CMD_HASH=y
CONFIG_CMD_ROCKUSB=y
# CONFIG_DFU_MMC is not set
CONFIG_DFU_MTD=y
# CONFIG_DFU_NAND is not set
# CONFIG_DFU_RAM is not set
# CONFIG_DFU_SF is not set
# CONFIG_DFU_TFTP is not set
# CONFIG_DM_USB_GADGET is not set
CONFIG_DM_USB=y
# CONFIG_FASTBOOT is not set
CONFIG_HASH_VERIFY=y
CONFIG_HASH=y
# CONFIG_ROCKCHIP_USB_BOOT is not set
# CONFIG_SPL_DM_USB_GADGET is not set
CONFIG_SPL_DM_USB=y
# CONFIG_USB_CDNS3 is not set
# CONFIG_USB_DWC2 is not set
CONFIG_USB_DWC3_GADGET=y
# CONFIG_USB_DWC3_HOST is not set
# CONFIG_USB_DWC3_OMAP is not set
# CONFIG_USB_DWC3_PHY_OMAP is not set
# CONFIG_USB_DWC3_PHY_SAMSUNG is not set
CONFIG_USB_DWC3=y
# CONFIG_USB_EHCI_HCD is not set
# CONFIG_USB_ETHER is not set
CONFIG_USB_FUNCTION_DFU=y
# CONFIG_USB_FUNCTION_SDP is not set
# CONFIG_USB_GADGET_ATMEL_USBA is not set
# CONFIG_USB_GADGET_BCM_UDC_OTG_PHY is not set
CONFIG_USB_GADGET_DOWNLOAD=y
CONFIG_USB_GADGET_DUALSPEED=y
# CONFIG_USB_GADGET_DWC2_OTG is not set
CONFIG_USB_GADGET_MANUFACTURER="Rockchip"
CONFIG_USB_GADGET_PRODUCT_NUM=0x110c
CONFIG_USB_GADGET_VBUS_DRAW=2
CONFIG_USB_GADGET_VENDOR_NUM=0x2207
CONFIG_USB_GADGET=y
# CONFIG_USB_HOST_ETHER is not set
# CONFIG_USB_KEYBOARD is not set
# CONFIG_USB_MUSB_DA8XX is not set
# CONFIG_USB_MUSB_GADGET is not set
# CONFIG_USB_MUSB_HOST is not set
# CONFIG_USB_MUSB_TI is not set
# CONFIG_USB_OHCI_HCD is not set
# CONFIG_USB_OHCI_PCI is not set
# CONFIG_USB_R8A66597_HCD is not set
CONFIG_USB_STORAGE=y
# CONFIG_USB_UHCI_HCD is not set
# CONFIG_USB_XHCI_HCD is not set
CONFIG_USB=y
