CONFIG_BASE_DEFCONFIG="rockchip-usbplug_defconfig"
CONFIG_MTD_NAND_BBT_USING_FLASH=y
CONFIG_MTD_NAND_CORE=y
CONFIG_MTD_SPI_NAND=y
# CONFIG_SPI_NAND_BIWIN is not set
CONFIG_SPI_NAND_DOSILICON=y
CONFIG_SPI_NAND_ESMT=y
# CONFIG_SPI_NAND_ETRON is not set
CONFIG_SPI_NAND_FMSH=y
CONFIG_SPI_NAND_FORESEE=y
CONFIG_SPI_NAND_GIGADEVICE=y
# CONFIG_SPI_NAND_GSTO is not set
CONFIG_SPI_NAND_HYF=y
# CONFIG_SPI_NAND_JSC is not set
CONFIG_SPI_NAND_MACRONIX=y
CONFIG_SPI_NAND_MICRON=y
# CONFIG_SPI_NAND_SILICONGO is not set
CONFIG_SPI_NAND_SKYHIGH=y
CONFIG_SPI_NAND_TOSHIBA=y
# CONFIG_SPI_NAND_UNIM is not set
CONFIG_SPI_NAND_WINBOND=y
# CONFIG_SPI_NAND_XINCUN is not set
CONFIG_SPI_NAND_XTX=y
