# CONFIG_ATMEL_HLCD is not set
# CONFIG_BACKLIGHT_GPIO is not set
CONFIG_BACKLIGHT_PWM=y
CONFIG_BASE_DEFCONFIG="rv1106_defconfig"
# CONFIG_CMD_BMP is not set
# CONFIG_CMD_REGULATOR is not set
CONFIG_CONSOLE_NORMAL=y
# CONFIG_CONSOLE_ROTATION is not set
CONFIG_CONSOLE_SCROLL_LINES=1
# CONFIG_CONSOLE_TRUETYPE is not set
CONFIG_DISPLAY=y
CONFIG_DM_PWM=y
# CONFIG_DM_REGULATOR_FIXED is not set
# CONFIG_DM_REGULATOR_GPIO is not set
CONFIG_DM_REGULATOR=y
CONFIG_DM_VIDEO=y
# CONFIG_DRM_MAXIM_MAX96745 is not set
# CONFIG_DRM_MAXIM_MAX96752F is not set
# CONFIG_DRM_MAXIM_MAX96755F is not set
CONFIG_DRM_MEM_RESERVED_SIZE_MBYTES=32
CONFIG_DRM_MIPI_DSI=y
# CONFIG_DRM_PANEL_MAXIM_DESERIALIZER is not set
# CONFIG_DRM_ROCKCHIP_ANALOGIX_DP is not set
# CONFIG_DRM_ROCKCHIP_DW_DP is not set
# CONFIG_DRM_ROCKCHIP_DW_HDMI is not set
# CONFIG_DRM_ROCKCHIP_DW_HDMI_QP is not set
# CONFIG_DRM_ROCKCHIP_DW_MIPI_DSI2 is not set
# CONFIG_DRM_ROCKCHIP_DW_MIPI_DSI is not set
# CONFIG_DRM_ROCKCHIP_INNO_HDMI is not set
# CONFIG_DRM_ROCKCHIP_INNO_MIPI_PHY is not set
# CONFIG_DRM_ROCKCHIP_INNO_VIDEO_COMBO_PHY is not set
# CONFIG_DRM_ROCKCHIP_INNO_VIDEO_PHY is not set
# CONFIG_DRM_ROCKCHIP_LVDS is not set
CONFIG_DRM_ROCKCHIP_PANEL=y
CONFIG_DRM_ROCKCHIP_RGB=y
# CONFIG_DRM_ROCKCHIP_RK1000 is not set
# CONFIG_DRM_ROCKCHIP_RK618 is not set
# CONFIG_DRM_ROCKCHIP_SAMSUNG_MIPI_DCPHY is not set
CONFIG_DRM_ROCKCHIP=y
CONFIG_I2C_EDID=y
# CONFIG_NOP_PHY is not set
# CONFIG_PHY_ROCKCHIP_SAMSUNG_HDPTX_HDMI is not set
CONFIG_PHY=y
# CONFIG_PWM_EXYNOS is not set
CONFIG_PWM_ROCKCHIP=y
# CONFIG_PWM_TEGRA is not set
# CONFIG_REGULATOR_FAN53555 is not set
# CONFIG_REGULATOR_PWM is not set
# CONFIG_REGULATOR_RK860X is not set
CONFIG_ROCKCHIP_CUBIC_LUT_SIZE=0
# CONFIG_DRM_ROCKCHIP_TVE is not set
# CONFIG_ROCKCHIP_INNO_HDMI_PHY is not set
# CONFIG_SPL_DM_REGULATOR is not set
# CONFIG_VIDCONSOLE_AS_LCD is not set
CONFIG_VIDEO_BPP16=y
CONFIG_VIDEO_BPP32=y
CONFIG_VIDEO_BPP8=y
# CONFIG_VIDEO_BRIDGE_ANALOGIX_ANX6345 is not set
# CONFIG_VIDEO_BRIDGE_NXP_PTN3460 is not set
# CONFIG_VIDEO_BRIDGE_PARADE_PS862X is not set
CONFIG_VIDEO_BRIDGE=y
# CONFIG_VIDEO_ROCKCHIP is not set
# CONFIG_VIDEO_TEGRA124 is not set
