CONFIG_BASE_DEFCONFIG="rv1106-spi-nor_defconfig"
CONFIG_ENV_MEM_LAYOUT_SETTINGS="fdt_addr_r=0x007e0000\0kernel_addr_c=0x00a08000\0kernel_addr_r=0x00208000\0ramdisk_addr_r=0x01000000\0"
CONFIG_ENV_MEM_LAYOUT=y
CONFIG_LOADER_INI="RV1106MINIALL_SPI_NOR_WAKEUP.ini"
CONFIG_ROCKCHIP_CMD=""
CONFIG_SPL_FIT_IMAGE_KB=512
CONFIG_TRUST_INI="RV1106TOS_WAKEUP.ini"
