CONFIG_BASE_DEFCONFIG="rockchip-usbplug_defconfig"
CONFIG_BAUDRATE=115200
CONFIG_CMD_PINMUX=y
# CONFIG_CMD_REGULATOR is not set
CONFIG_CMD_USB=y
CONFIG_DEBUG_UART_BASE=0xff4c0000
CONFIG_DEFAULT_DEVICE_TREE="rv1106-evb"
CONFIG_DM_REGULATOR_FIXED=y
CONFIG_DM_REGULATOR_GPIO=y
CONFIG_DM_REGULATOR=y
# CONFIG_NOP_PHY is not set
CONFIG_PHY_ROCKCHIP_INNO_USB2=y
CONFIG_PHY=y
# CONFIG_PINCONF is not set
CONFIG_PINCONF_RECURSIVE=y
# CONFIG_PINCTRL_AT91 is not set
# CONFIG_PINCTRL_AT91PIO4 is not set
CONFIG_PINCTRL_FULL=y
CONFIG_PINCTRL_GENERIC=y
CONFIG_PINCTRL_ROCKCHIP=y
# CONFIG_PINCTRL_SINGLE is not set
# CONFIG_PINCTRL_STM32 is not set
CONFIG_PINCTRL=y
CONFIG_PINMUX=y
# CONFIG_REGULATOR_FAN53555 is not set
# CONFIG_REGULATOR_PWM is not set
# CONFIG_REGULATOR_RK860X is not set
CONFIG_ROCKCHIP_BOOT_MODE_REG=0xff020200
CONFIG_ROCKCHIP_GPIO_V2=y
CONFIG_ROCKCHIP_GPIO=y
CONFIG_ROCKCHIP_IRAM_START_ADDR=0xff6c0000
CONFIG_ROCKCHIP_NEW_IDB=y
CONFIG_ROCKCHIP_RV1106=y
# CONFIG_ROCKCHIP_RV1126 is not set
CONFIG_ROCKCHIP_STIMER_BASE=0xff590020
CONFIG_ROCKCHIP_VENDOR_PARTITION=y
# CONFIG_SPL_DM_REGULATOR_FIXED is not set
# CONFIG_SPL_DM_REGULATOR is not set
CONFIG_SYS_BOARD="evb_rv1106"
CONFIG_SYS_CONFIG_NAME="evb_rv1106"
CONFIG_TARGET_EVB_RV1106=y
CONFIG_USB_GADGET_PRODUCT_NUM=0x110c
CONFIG_USB_HOST=y
CONFIG_USB_STORAGE=y
# CONFIG_USB_XHCI_DWC3 is not set
# CONFIG_USB_XHCI_DWC3_OF_SIMPLE is not set
CONFIG_USB_XHCI_HCD=y
# CONFIG_USB_XHCI_PCI is not set
